<div x-cloak x-show="open == `Education`" x-transition:enter="delay-100 transition ease-out duration-1000"
    x-transition:enter-start="opacity-0 translate-y-32" x-transition:enter-end="opacity-100 translate-y-0"
    class="flex items-baseline space-y-6">
    <img class="w-16 h-16 mr-3" src="v1/assets/nav-icons/education.png" alt="education">
    <h1 class="text-3xl md:text-3xl lg:text-4xl font-semibold">Education</h1>
</div>
<div class="mt-6 space-y-6">
    <div x-cloak x-show="open == `Education`" x-transition:enter="delay-700 transition ease-out duration-1000"
        x-transition:enter-start="opacity-0 translate-y-32" x-transition:enter-end="opacity-100 translate-y-0"
        class="bg-gray-900 p-4 rounded-lg">
        <h3 class="text-md md:text-xl font-semibold">STI Parañaque</h3>
        <h4 class="text-sm md:text-md font-semibold">Bachelor of Science in Information Technology</h4>
        <time class="text-xs text-gray-300">2015 - 2020</time>
    </div>
    <div x-cloak x-show="open == `Education`" x-transition:enter="delay-700 transition ease-out duration-1000"
        x-transition:enter-start="opacity-0 translate-y-32" x-transition:enter-end="opacity-100 translate-y-0"
        class="bg-gray-900 p-4 rounded-lg">
        <h3 class="text-md md:text-xl font-semibold">Parañaque City College of Science and Technology</h3>
        <h4 class="text-sm md:text-md font-semibold">Bachelor of Science in Electrical Technology</h4>
        <time class="text-xs text-gray-300">2010 - 2012</time>
    </div>
    <div x-cloak x-show="open == `Education`" x-transition:enter="delay-700 transition ease-out duration-1000"
        x-transition:enter-start="opacity-0 translate-y-32" x-transition:enter-end="opacity-100 translate-y-0"
        class="bg-gray-900 p-4 rounded-lg">
        <h3 class="text-md md:text-xl font-semibold">Unicyber College of Science and Technology (Vocational)</h3>
        <h4 class="text-sm md:text-md font-semibold">TESDA NCII Compter Hardware and Servicing and NCIV Computer Programming</h4>
        <time class="text-xs text-gray-300">2011 - 2012</time>
    </div>
    <div x-cloak x-show="open == `Education`" x-transition:enter="delay-500 transition ease-out duration-1000"
        x-transition:enter-start="opacity-0 translate-y-32" x-transition:enter-end="opacity-100 translate-y-0"
        class="bg-gray-900 p-4 rounded-lg">
        <h3 class="text-md md:text-xl font-semibold">Parañaque National High School (Main)</h3>
        <time class="text-xs text-gray-300">2006 - 2010</time>
    </div>
    <div x-cloak x-show="open == `Education`" x-transition:enter="delay-300 transition ease-out duration-1000"
        x-transition:enter-start="opacity-0 translate-y-32" x-transition:enter-end="opacity-100 translate-y-0"
        class="bg-gray-900 p-4 rounded-lg">
        <h3 class="text-md md:text-xl font-semibold">Fourth Estate Elementary School</h3>
        <time class="text-xs text-gray-300">2000 - 2006</time>
    </div>
</div>

<div w3-include-html="v1/components/skills.html"></div>